.footer {
  background-color: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #E7DAC7;
  text-align: center;
  padding: 20px;
}

.social-icons {
  font-size: 24px; /* Of de grootte die je wilt voor de iconen */
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #E7DAC7; /* Of een andere kleur als je wilt */
}

.social-icons a:hover {
  color: #ccc; /* Of een andere hover kleur */
}

.policies a {
  color: #E7DAC7;
  text-decoration: none;
  margin: 0 5px;
}

.policies a:hover {
  text-decoration: underline;
}
